@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbarFix {
  @apply fixed z-[9999] bg-white bg-opacity-70 dark:bg-slate-700 dark:bg-opacity-70 dark:shadow-[inset_0_-1px_0_0_rgba(210,210,210,0.2)];
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburgerLine {
  @apply w-[30px] h-[2px] my-2 block bg-slate-800 dark:bg-slate-200;
}

.hamburgerActive > span:nth-child(1) {
  @apply rotate-45;
}

.hamburgerActive > span:nth-child(2) {
  @apply scale-0;
}

.hamburgerActive > span:nth-child(3) {
  @apply -rotate-45;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
